
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: young serif,serif;
}
.section-one{
    background-color: black;
    color: white;
    padding: 20px;
}
.section-one__name{
    font-size: 50px;
}
.section-one__role{
    font-size: 30px;
    margin-top: 10px;
}
.section-one__contact{
    background-color: orangered;
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.container{
    padding: 50px;
}
.section-two{
    margin-top: 10px;
}
.section-two__desc{
    margin-top: 10px;
}
.section-three{
    background-color: #6462fd;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    display: inline-block;
    height: 200px;
    vertical-align: top;
   
}
li{
    list-style: none;
}
.section-four{
    background-color: orangered;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    display: inline-block;
    height: 200px;
   

}
.section-five{
    background-color: black;
    color: white;
    padding: 20px;
    margin-top: 20px;

}
